@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
/* space-grotesk-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/space-grotesk-v22-latin-300.woff2") format("woff2");
}
/* space-grotesk-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/space-grotesk-v22-latin-regular.woff2") format("woff2");
}
/* space-grotesk-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/space-grotesk-v22-latin-700.woff2") format("woff2");
}
/* inter-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/inter-v20-latin-regular.woff2") format("woff2");
}
/* inter-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/inter-v20-latin-500.woff2") format("woff2");
}
/* inter-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/inter-v20-latin-700.woff2") format("woff2");
}
:root {
  --clr-accent: #2a50bd;
  --clr-primary: #e2e9f5;
  --clr-secondary: #64748b;
  --clr-tertiary: #cfd4db;
  --clr-blue-dark: #0c0f18;
  --clr-dark: #090911;
  --clr-light: #fff;
  --font-heading: "Space Grotesk", sans-serif;
  --font-body: "Inter";
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: 1.6rem;
  line-height: 1.4;
  background-color: var(--clr-dark);
  color: var(--clr-primary);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: var(--font-body);
}

img {
  display: block;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* repeatable */
h1 {
  font-size: clamp(3rem, 5vw, 7rem);
  font-weight: 700;
  font-family: var(--font-heading);
}
h2 {
  font-size: clamp(1.875rem, 7vw, 3.75rem);
  font-weight: 700;
  font-family: var(--font-heading);
}
h3 {
  font-size: clamp(1.25rem, 5vw, 2.75rem);
  font-weight: 700;
  font-family: var(--font-heading);
}
h4 {
  font-size: clamp(1.125rem, 5vw, 1.5rem);
  font-weight: 400;
  font-family: var(--font-heading);
}
p {
  font-size: clamp(1.25rem, 6vw, 1.75rem);
  font-family: var(--font-body);
  color: var(--clr-secondary);
}

.block--title small {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: var(--clr-secondary);
  font-size: 1.2rem;
}

.block--title h2 {
  font-size: 4.8rem;
}

.btn--accent {
  display: inline-block;
  background-color: var(--clr-accent);
  padding: 2rem;
  border-radius: 5rem;
  font-size: 1.25rem;
}

/* end of repeatable */

.container {
  max-width: 150rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}

.header {
  padding: 2rem 0;
  background-color: var(--clr-blue-dark);
  color: var(--clr-light);
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 140rem;
  width: 100%;
  margin: 0 auto;
}
.header nav ul {
  display: flex;
  gap: 3rem;
}
.header nav ul li a {
  font-size: 1.5rem;
}
.branding {
  font-weight: 700;
  font-size: 1.5rem;
  font-family: var(--font-body);
}
.branding span {
  color: var(--clr-accent);
}

.banner {
  padding: 8rem 0;
  background-color: var(--clr-blue-dark);
  color: var(--clr-light);
}
.banner_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner small {
  color: var(--clr-secondary);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}
.banner span {
  color: var(--clr-accent);
  font-size: 10rem;
  font-weight: 700;
  line-height: 8rem;
}
.banner p {
  max-width: 50rem;
  margin: 3rem 0;
  text-align: center;
}

.scale {
  margin-top: 8rem;
  padding: 8rem 0;
  border-top: 0.1px solid #12121a;
  border-bottom: 0.1px solid #12121a;
}

.scale_wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

.scale {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.scale h2 {
  color: var(--clr-light);
  font-family: var(--font-heading);
  font-weight: bold;
  line-height: 4rem;
}
.scale small {
  color: var(--clr-secondary);
}
.scale_item ul {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.scale_item span {
  font-size: 5rem;
  font-family: var(--font-heading);
  font-weight: 700;
}
.scale_item ul svg {
  color: var(--clr-accent);
}
.scale_item small {
  font-size: 1.2rem;
}

/*  */
.destination {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  padding: 8rem 0;
}
.destination_wrapper {
  display: flex;
  justify-content: center;
  gap: 5rem;
  text-align: left;
  margin-top: 5rem;
}
.destination_card {
  background-color: rgba(33, 33, 34, 0.5);
  border-radius: 2rem;
  padding: 3rem;
}
.destination_card small {
  color: var(--clr-accent);
  font-family: var(--font-heading);
  letter-spacing: 0.8rem;
}
.destination_card h3 {
  color: var(--clr-light);
  margin: 2rem 0;
  font-family: var(--font-heading);
}
.destination_card p {
  color: var(--clr-secondary);
  max-width: 40rem;
  margin-bottom: 3rem;
}
.destination_card a {
  color: var(--clr-accent);
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

/*  */
.experience {
  padding: 8rem 0;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
.experience_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  align-items: center;
  max-width: 90rem;
  margin-top: 3rem;
}
.experience_card {
  background-color: rgba(33, 33, 34, 0.5);
  padding: 3rem;
  border-radius: 2rem;
  width: 65rem;
}
.experience_card-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.experience_card small {
  text-transform: uppercase;
  color: var(--clr-secondary);
  font-size: 1.2rem;
}
.experience_card-icon {
  background: rgb(0, 56, 255, 0.1);
  padding: 1rem;
  border-radius: 0.5rem;
}
.experience_card svg {
  color: var(--clr-accent);
  border-radius: 5rem;
}
.experience_card h3 {
  margin: 1rem 0;
  font-size: 2rem;
}
.experience_card p {
  color: var(--clr-secondary);
  font-size: medium;
}
/*  */
.manifest {
  padding: 8rem 0;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
.manifest_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  margin-top: 5rem;
}
.manifest_card span {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 7rem;
  font-weight: 700;
  opacity: 0.1;
  font-family: var(--font-heading);
}
.manifest_card h3 {
  color: var(--clr-light);
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.manifest_card p {
  max-width: 60rem;
  font-size: 1.4rem;
}

/*  */
.journey {
  background-color: var(--clr-dark);
  border-bottom: 0.1px solid #12121a;
  padding: 8rem 0;
}
.journey_content {
  background: rgb(0, 56, 255, 0.1);
  padding: 7rem;
  text-align: center;
  border-radius: 5rem;
}
.journey h1 {
  color: var(--clr-light);
  font-size: 6rem;
  line-height: 1;
}
.journey small {
  color: var(--clr-accent);
}
.journey p {
  margin-top: 1rem;
  margin-bottom: 4rem;
  font-size: 1.6rem;
}
.journey a {
  color: var(--clr-light);
}
/*  */
.footer {
  padding: 4rem 0;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 100rem;
  padding-top: 2rem;
  padding-bottom: 5rem;
}
.footer_text {
  max-width: 50rem;
}
.footer h3 {
  margin-bottom: 2rem;
  color: var(--clr-tertiary);
  text-transform: capitalize;
  font-size: 1.8rem;
}
.footer p {
  font-size: 1.4rem;
  max-width: 40rem;
}
.footer span {
  color: var(--clr-accent);
}

.footer h4 {
  font-size: 1.2rem;
}
.footer_connect {
  margin-left: 30rem;
}

.footer_text p {
  font-size: 1.4rem;
}

.footer_bottom {
  color: var(--clr-secondary);
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  margin-top: 2rem;
  border-top: 0.1px solid #12121a;
}
.footer_bottom small {
  font-size: 1.4rem;
}
.footer a {
  font-size: 1.4rem;
}
.footer ul li {
  margin: 1rem 0;
}

/* SECOND PAGE */

/* collection banner */
.collection {
  background-color: var(--clr-blue-dark);
  color: var(--clr-primary);
  padding: 8rem;
}
.collection h1 {
  font-size: 7.2rem;
  line-height: 1;
  margin: 3rem 0;
}
.collection p {
  max-width: 65rem;
}
.collection_wrapper {
  background-color: var(--clr-blue-dark);
}

/* western area */
.western {
  background: var(--clr-blue-dark);
}
.western_item span {
  color: var(--clr-light);
}
.western_item svg {
  margin-top: 1rem;
  margin-right: 1rem;
  color: var(--clr-secondary);
}
.western_location small {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--clr-secondary);
}

.western_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.western_item {
  background-color: rgba(33, 33, 34, 0.5);
  border-radius: 2rem;
  padding: 3rem;
}
.western_price {
  display: flex;
  justify-content: space-between;
}
.western_location {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.western_item span {
  font-size: 1.2rem;
  color: var(--clr-secondary);
}
.western_price li:last-child span {
  color: var(--clr-accent);
}
.western_item h4 {
  font-size: 2rem;
  margin: 1rem 0;
}
.western_item p {
  margin-bottom: 1.5rem;
}
.western_item button {
  display: block;
  width: 100%;
  background-color: var(--clr-accent);
  padding: 2rem 4rem;
  border-radius: 5rem;
  font-size: 1.25rem;
  border: none;
}
